<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-name" itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content e-content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>

<!--评论区-->
<link rel="stylesheet" href="/css/gitalk.css">
<script src="/js/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<br><br><br><br><br>
<center>——————评论区——————</center>
<div id="gitalk-container">
<script>
    var gitalk = new Gitalk({
        clientID: 'f07e673bbda4d7974fe7',
        clientSecret: '0f30a0c569f86502b670ccbdc5c0c9601a6f8421',
        repo: 'Rechrd-blog',
        owner: 'sbrechrd',
        admin: ['sbrechrd'],
        id: md5(location.pathname),      
        distractionFreeMode: false,  
        enableHotKey: true          
    });
    gitalk.render('gitalk-container');
</script>
<!--Done-->

<%- partial('_partial/comments') %>
